@media only screen and (min-width: 1400px) {
    h3, p {
        font-size: 88px;
    }
    
    h1{
        font-size: 108px;
    }

    .alt{
        font-size: 48px;
    }

    .home-logo{
        width:600px;
        height:600px;
    }

} 



@media only screen and (max-width: 1200px) {
    h3, p {
        font-size: 68px;
    }
    
    h1{
        font-size: 88px;
    }

    .alt{
        font-size: 38px;
    }

    .home-logo{
        width:500px;
        height:500px;
    }


} 


@media only screen and (max-width: 992px) {
    h3, p {
        font-size: 48px;
    }
    
    h1{
        font-size: 68px;
    }

    .alt{
        font-size: 28px;
    }

    .home-logo{
        width:400px;
        height:400px;
    }

}

@media only screen and (max-width: 768px) {
    h3, p {
        font-size: 28px;
    }
    
    h1{
        font-size: 48px;
    }

    .alt{
        font-size: 22px;
    }

    .home-logo{
        width:350px;
        height:350px;
    }
    

}

@media only screen and (max-width: 576px) {
    h3, p {
        font-size: 18px;
    }
    
    h1{
        font-size: 38px;
    }

    .alt{
        font-size: 14px;
    }

    .home-logo{
        width:200px;
        height:200px;
    }

} 